{% extends 'base.html' %}
{% load static %}

{% block blogs_block %}



<main>
    <!-- breadcrumb banner content area start -->
    <div class="lernen_banner bg-blog">
        <div class="container">
            <div class="row">
                <div class="lernen_banner_title">
                    <h1>Blog</h1>
                    <div class="lernen_breadcrumb">
                        <div class="breadcrumbs">
									<span class="first-item">
									<a href="{% url 'index' %}">Home</a></span>
                            <span class="separator">&gt;</span>
                            <span class="last-item">Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb banner content area start -->

    <!-- blog area start -->
    <div id="blog" class="wrap-bg wrap-bg-dark bg-bottom-zero">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="section-title with-p">
                        <span>Blog Article</span>
                        <h2>Our Latest Blog Article</h2>
                        <p>Check out our latest blog posts, news and articles. We have articles on a range of topics
                            such as the leaving certificate and career guidance.
                        </p>
                    </div>
                </div>
            </div>

            <!-- .row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                    <!-- 1 -->
                    <div class="themeioan_blog">
                        <article><!-- single blog articles -->
                            <div class="blog-photo">
                                <a href="blog-detail.html"><img src="images/content/blog/blog-1.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="course-viewer">
                                    <ul>
                                        <li><i class="fas fa-user"></i> Ioan Drozd</li>
                                        <li><i class="fas fa-user"></i> 5 Mar, 2018</li>
                                        <li><i class="fas fa-comment-dots"></i> 350</li>
                                    </ul>
                                </div>
                                <h5 class="title"><a href="blog-detail.html">Berlin Cryptocurrency & Blockchain
                                    Conference</a>
                                </h5>
                                <p>Everybody is welcome to our conference this is a free event, just register here and
                                    come visit us.
                                </p>
                                <a href="blog-detail.html" class="readmore">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article><!-- end single blog articles -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                    <!-- 2 -->
                    <div class="themeioan_blog">
                        <article><!-- single blog articles -->
                            <div class="blog-photo">
                                <a href="blog-detail.html"><img src="images/content/blog/blog-2.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="course-viewer">
                                    <ul>
                                        <li><i class="fas fa-user"></i> Ioan Drozd</li>
                                        <li><i class="fas fa-user"></i> 5 Mar, 2018</li>
                                        <li><i class="fas fa-comment-dots"></i> 350</li>
                                    </ul>
                                </div>
                                <h5 class="title"><a href="blog-detail.html">Your Complete Guide to Photography</a></h5>
                                <p>Everybody is welcome to our conference this is a free event, just register here and
                                    come visit us.
                                </p>
                                <a href="blog-detail.html" class="readmore">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article><!-- end single blog articles -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                    <!-- 3 -->
                    <div class="themeioan_blog">
                        <article><!-- single blog articles -->
                            <div class="blog-photo">
                                <a href="blog-detail.html"><img src="images/content/blog/blog-3.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="course-viewer">
                                    <ul>
                                        <li><i class="fas fa-user"></i> Ioan Drozd</li>
                                        <li><i class="fas fa-user"></i> 5 Mar, 2018</li>
                                        <li><i class="fas fa-comment-dots"></i> 350</li>
                                    </ul>
                                </div>
                                <h5 class="title"><a href="blog-detail.html">Digital Art & 3D Model – a future for film
                                    company</a>
                                </h5>
                                <p>Formal education occurs in a structured environment whose explicit purpose is
                                    teaching students.
                                </p>
                                <a href="blog-detail.html" class="readmore">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article><!-- end single blog articles -->
                    </div>
                </div>
            </div>
            <!-- .row end -->


            <!-- .row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                    <!-- 1 -->
                    <div class="themeioan_blog">
                        <article><!-- single blog articles -->
                            <div class="blog-photo">
                                <a href="blog-detail.html"><img src="images/content/blog/blog-1.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="course-viewer">
                                    <ul>
                                        <li><i class="fas fa-user"></i> Ioan Drozd</li>
                                        <li><i class="fas fa-user"></i> 5 Mar, 2018</li>
                                        <li><i class="fas fa-comment-dots"></i> 350</li>
                                    </ul>
                                </div>
                                <h5 class="title"><a href="blog-detail.html">Berlin Cryptocurrency & Blockchain
                                    Conference</a>
                                </h5>
                                <p>Everybody is welcome to our conference this is a free event, just register here and
                                    come visit us.
                                </p>
                                <a href="blog-detail.html" class="readmore">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article><!-- end single blog articles -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                    <!-- 2 -->
                    <div class="themeioan_blog">
                        <article><!-- single blog articles -->
                            <div class="blog-photo">
                                <a href="blog-detail.html"><img src="images/content/blog/blog-2.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="course-viewer">
                                    <ul>
                                        <li><i class="fas fa-user"></i> Ioan Drozd</li>
                                        <li><i class="fas fa-user"></i> 5 Mar, 2018</li>
                                        <li><i class="fas fa-comment-dots"></i> 350</li>
                                    </ul>
                                </div>
                                <h5 class="title"><a href="blog-detail.html">Your Complete Guide to Photography</a></h5>
                                <p>Everybody is welcome to our conference this is a free event, just register here and
                                    come visit us.
                                </p>
                                <a href="blog-detail.html" class="readmore">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article><!-- end single blog articles -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 blog-single">
                    <!-- 3 -->
                    <div class="themeioan_blog">
                        <article><!-- single blog articles -->
                            <div class="blog-photo">
                                <a href="blog-detail.html"><img src="images/content/blog/blog-3.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="course-viewer">
                                    <ul>
                                        <li><i class="fas fa-user"></i> Ioan Drozd</li>
                                        <li><i class="fas fa-user"></i> 5 Mar, 2018</li>
                                        <li><i class="fas fa-comment-dots"></i> 350</li>
                                    </ul>
                                </div>
                                <h5 class="title"><a href="blog-detail.html">Digital Art & 3D Model – a future for film
                                    company</a>
                                </h5>
                                <p>Formal education occurs in a structured environment whose explicit purpose is
                                    teaching students.
                                </p>
                                <a href="blog-detail.html" class="readmore">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </article><!-- end single blog articles -->
                    </div>
                </div>
            </div>
            <!-- .row end -->

        </div>
    </div>
    <!-- blog area end -->

</main>


{% endblock blogs_block %}